{# templates/equipement/ajouter.html.twig #}
 
{% extends 'base.html.twig' %}
 
{% block main %}
    <section>
 
    <h2>Ajout d'un équipement</h2>
 
    {{ form_start(form) }}
        {{ form_row(form.EqLibelle) }}
        {{ form_row(form.EqPrix) }}
        <button type="submit">Ajouter</button>
    {{ form_end(form) }}
 
{% endblock %}